In [1]:
import pandas as pd
import numpy as np

## Importamos la tabla de datos descargada del INE

In [6]:
df = pd.read_csv('pob-total-pc.csv', sep=';', index_col=0, skiprows=5, engine='python', skipfooter=2, encoding='UTF-8')

In [7]:
df

,1 de julio de 2019,1 de enero de 2019,1 de julio de 2018,1 de enero de 2018,1 de julio de 2017,1 de enero de 2017,1 de julio de 2016,1 de enero de 2016,1 de julio de 2015,1 de enero de 2015,...,1 de enero de 1975,1 de julio de 1974,1 de enero de 1974,1 de julio de 1973,1 de enero de 1973,1 de julio de 1972,1 de enero de 1972,1 de julio de 1971,1 de enero de 1971,Unnamed: 99
Ambos sexos,NaN,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Total,NaN,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Total Nacional,47.100.396,46.937.060,46.728.814,46.658.447,46.532.869,46.527.039,46.449.874,46.440.099,46.410.149,46.449.565,...,35.569.375,35.363.890,35.177.294,34.980.317,34.800.600,34.595.886,34.408.338,34.216.856,34.040.642,NaN
02 Albacete,389.584,389.528,389.322,390.337,390.304,391.574,392.036,392.958,393.664,394.928,...,341.203,341.120,341.223,341.191,341.184,340.941,340.896,340.750,340.709,NaN
03 Alicante/Alacant,1.873.295,1.862.780,1.848.500,1.845.470,1.838.940,1.842.572,1.839.982,1.842.446,1.839.975,1.842.174,...,1.011.877,999.864,988.791,977.012,965.894,954.254,943.452,932.507,921.985,NaN
04 Almería,710.808,706.871,701.831,701.069,700.704,700.041,698.033,696.186,693.634,691.155,...,390.688,388.759,387.553,385.658,384.280,382.386,380.880,379.087,377.637,NaN
01 Araba/Álava,328.571,327.682,326.419,325.739,324.569,323.812,322.706,321.804,321.077,320.663,...,223.028,220.074,217.047,214.139,211.227,208.303,205.372,202.665,199.776,NaN
33 Asturias,1.019.993,1.022.205,1.024.192,1.027.624,1.029.953,1.034.277,1.037.011,1.040.925,1.044.043,1.049.875,...,1.085.361,1.080.982,1.077.057,1.072.722,1.069.075,1.064.504,1.060.233,1.055.764,1.052.039,NaN
05 Ávila,158.966,159.260,159.251,160.032,160.519,161.749,162.611,163.650,164.505,165.741,...,200.348,201.686,203.195,204.548,205.980,207.306,208.727,210.144,211.556,NaN
06 Badajoz,671.079,672.493,673.221,674.926,676.136,678.473,680.350,682.572,683.822,686.092,...,680.857,683.708,686.680,689.111,692.036,694.133,696.679,699.062,701.675,NaN
"07 Balears, Illes",1.198.576,1.188.220,1.175.745,1.166.923,1.157.977,1.150.935,1.143.276,1.135.527,1.129.743,1.124.972,...,584.351,577.530,571.291,564.514,558.493,551.334,545.498,538.876,532.942,NaN
08 Barcelona,5.607.829,5.575.203,5.536.855,5.514.880,5.481.935,5.474.381,5.453.595,5.445.904,5.434.340,5.432.802,...,4.215.017,4.173.822,4.136.261,4.098.738,4.061.858,4.022.424,3.986.045,3.949.705,3.914.943,NaN
48 Bizkaia,1.138.871,1.137.190,1.135.052,1.134.848,1.134.120,1.134.491,1.134.144,1.134.370,1.134.756,1.137.120,...,1.109.456,1.101.324,1.092.997,1.084.301,1.076.264,1.067.273,1.058.540,1.050.143,1.041.457,NaN
09 Burgos,355.420,355.429,355.246,356.080,356.238,357.616,358.398,359.872,361.129,362.913,...,362.198,361.933,361.771,361.637,361.496,361.332,361.134,361.038,361.180,NaN
10 Cáceres,391.718,392.931,393.797,395.528,397.009,399.033,400.723,402.397,403.803,405.531,...,450.559,453.052,455.443,457.577,459.701,461.791,463.703,465.686,467.680,NaN
11 Cádiz,1.251.149,1.249.739,1.248.509,1.249.245,1.248.476,1.248.958,1.248.321,1.248.241,1.247.823,1.248.584,...,924.940,918.805,913.557,907.775,902.424,896.223,890.355,884.194,878.474,NaN
39 Cantabria,581.949,581.641,580.971,581.294,580.927,581.476,581.421,582.504,583.549,585.359,...,486.312,484.007,481.767,479.531,477.491,475.197,473.066,470.990,469.079,NaN
12 Castellón/Castelló,572.929,571.601,569.297,569.576,568.514,570.170,569.948,571.223,572.229,574.460,...,403.308,400.916,398.755,396.561,394.395,392.142,390.108,388.211,386.464,NaN
13 Ciudad Real,494.224,495.106,495.716,498.549,500.274,504.117,505.961,508.409,510.953,514.143,...,499.303,501.358,503.128,504.602,506.452,507.833,509.257,511.028,512.799,NaN
14 Córdoba,784.300,783.867,784.593,786.524,787.839,789.981,790.873,792.412,793.543,795.703,...,729.046,729.267,730.100,730.353,730.960,730.720,730.986,730.897,731.311,NaN
"15 Coruña, A",1.121.428,1.122.007,1.120.355,1.121.417,1.119.996,1.121.746,1.121.973,1.124.114,1.125.530,1.128.694,...,1.056.671,1.052.794,1.049.637,1.045.886,1.043.292,1.039.202,1.036.542,1.033.138,1.030.721,NaN
16 Cuenca,199.178,199.628,199.918,200.596,201.087,202.037,202.823,204.000,205.033,206.594,...,238.122,239.866,241.593,243.274,244.944,246.542,248.268,249.900,251.573,NaN
20 Gipuzkoa,714.477,713.007,710.796,710.281,708.877,708.979,708.249,707.892,707.153,707.316,...,657.255,653.395,649.801,645.990,642.140,638.040,633.878,629.810,626.041,NaN
17 Girona,761.434,757.497,752.508,749.656,747.362,745.244,742.558,741.608,740.425,740.373,...,433.814,430.997,428.153,425.338,422.887,420.086,417.409,414.750,412.341,NaN
18 Granada,921.511,919.700,917.849,917.445,916.503,917.039,916.767,917.494,917.814,919.139,...,751.207,749.791,748.972,747.531,746.905,745.157,743.951,742.513,741.618,NaN
19 Guadalajara,260.441,258.890,256.961,256.029,255.528,255.332,254.429,254.280,254.061,254.558,...,145.540,145.975,146.404,146.926,147.386,147.760,148.574,149.200,149.803,NaN
21 Huelva,526.525,524.576,523.214,522.484,521.611,521.110,521.382,521.648,521.738,522.136,...,409.399,408.419,407.812,407.000,406.445,405.518,404.774,404.034,403.402,NaN
22 Huesca,219.788,219.239,218.965,219.174,219.171,219.669,219.975,220.588,221.168,222.084,...,218.607,219.012,219.387,219.719,220.261,220.558,220.916,221.352,221.760,NaN
23 Jaén,630.027,632.027,633.900,636.586,638.992,641.816,643.987,646.500,648.938,652.132,...,658.436,659.663,661.530,662.666,664.116,664.971,665.926,666.839,668.193,NaN
24 León,460.415,462.496,463.724,466.108,467.719,470.327,472.361,474.896,477.199,480.331,...,549.802,551.546,553.333,555.028,556.876,558.315,559.820,561.190,562.758,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19 Guadalajara,5.509,5.464,5.396,5.385,5.296,5.232,5.161,5.103,5.070,5.025,...,753,763,758,722,689,705,768,744,718,NaN
21 Huelva,8.217,8.060,7.792,7.591,7.411,7.320,7.212,7.088,6.929,6.909,...,1.789,1.854,1.925,1.886,1.866,1.847,1.848,1.870,1.895,NaN
22 Huesca,6.949,6.871,6.759,6.744,6.610,6.527,6.427,6.353,6.294,6.267,...,1.240,1.257,1.263,1.236,1.215,1.187,1.153,1.121,1.086,NaN
23 Jaén,13.765,13.521,13.222,13.094,12.877,12.741,12.465,12.176,11.962,11.811,...,2.458,2.529,2.630,2.591,2.578,2.583,2.607,2.564,2.528,NaN
24 León,18.379,18.180,17.881,17.753,17.350,17.057,16.773,16.481,16.270,16.176,...,2.039,2.022,2.000,1.922,1.863,1.838,1.826,1.788,1.756,NaN
25 Lleida,10.694,10.609,10.449,10.354,10.214,10.169,10.065,9.927,9.793,9.744,...,1.137,1.107,1.071,1.051,1.033,1.021,999,981,958,NaN
27 Lugo,13.781,13.591,13.381,13.293,13.137,13.053,12.959,12.886,12.649,12.553,...,2.342,2.305,2.259,2.246,2.256,2.295,2.377,2.361,2.365,NaN
28 Madrid,135.743,133.701,130.589,128.226,125.421,123.393,121.083,118.774,116.364,114.495,...,14.332,14.283,14.145,13.724,13.333,13.183,13.070,12.913,12.737,NaN
29 Málaga,23.225,22.796,22.388,22.316,21.754,21.491,20.995,20.609,20.302,19.961,...,2.682,2.667,2.647,2.636,2.651,2.696,2.754,2.778,2.805,NaN
30 Murcia,22.522,22.325,21.815,21.525,21.212,20.962,20.592,20.257,19.695,19.310,...,2.752,2.754,2.769,2.731,2.723,2.765,2.826,2.841,2.843,NaN
31 Navarra,15.532,15.411,15.196,15.145,14.901,14.758,14.516,14.392,14.146,14.033,...,1.920,1.919,1.908,1.855,1.817,1.813,1.808,1.824,1.838,NaN
32 Ourense,13.603,13.489,13.193,13.038,12.730,12.560,12.462,12.398,12.243,12.140,...,2.087,2.059,2.024,1.983,1.975,1.963,1.969,1.963,1.978,NaN
34 Palencia,5.933,5.910,5.884,5.864,5.780,5.784,5.711,5.659,5.532,5.477,...,858,834,799,783,771,777,789,792,796,NaN
"35 Palmas, Las",13.774,13.452,13.012,12.702,12.196,11.775,11.454,11.064,10.832,10.508,...,1.484,1.499,1.504,1.527,1.557,1.577,1.608,1.606,1.615,NaN
36 Pontevedra,24.877,24.373,23.743,23.447,22.862,22.441,21.924,21.511,21.090,20.806,...,3.684,3.725,3.760,3.680,3.620,3.598,3.606,3.544,3.494,NaN
"26 Rioja, La",8.382,8.333,8.208,8.108,7.958,7.850,7.753,7.623,7.429,7.285,...,988,1.001,1.011,1.000,998,1.013,1.030,1.035,1.033,NaN
37 Salamanca,12.550,12.471,12.314,12.257,12.033,11.974,11.779,11.556,11.350,11.189,...,2.296,2.277,2.242,2.138,2.046,1.985,1.937,1.924,1.914,NaN
38 Santa Cruz de Tenerife,16.173,15.681,15.161,14.871,14.374,13.899,13.464,13.019,12.837,12.596,...,2.191,2.153,2.115,2.056,2.007,2.008,2.045,2.023,2.012,NaN
40 Segovia,5.109,5.091,5.043,4.997,4.908,4.894,4.830,4.726,4.643,4.611,...,800,798,789,749,719,700,679,677,684,NaN
41 Sevilla,29.425,29.015,28.242,27.824,27.090,26.793,26.301,25.917,25.485,25.233,...,4.691,4.745,4.787,4.592,4.440,4.444,4.464,4.448,4.441,NaN
42 Soria,3.633,3.588,3.539,3.528,3.456,3.408,3.393,3.397,3.375,3.335,...,533,542,549,549,559,550,546,534,520,NaN
43 Tarragona,16.583,16.339,16.050,15.892,15.667,15.492,15.156,14.856,14.509,14.310,...,1.923,1.865,1.796,1.779,1.778,1.791,1.816,1.783,1.733,NaN
44 Teruel,4.766,4.753,4.692,4.651,4.599,4.550,4.478,4.389,4.299,4.273,...,963,935,912,879,848,858,866,866,865,NaN
45 Toledo,15.602,15.448,15.163,15.025,14.775,14.631,14.396,14.115,13.781,13.542,...,2.098,2.131,2.154,2.090,2.052,2.028,2.053,1.976,1.913,NaN
46 Valencia/València,49.933,49.232,48.226,47.620,46.693,46.281,45.378,44.565,43.822,43.285,...,6.838,6.837,6.783,6.621,6.476,6.397,6.324,6.274,6.168,NaN
47 Valladolid,13.616,13.463,13.278,13.182,12.945,12.794,12.606,12.364,12.147,12.062,...,1.525,1.512,1.490,1.429,1.392,1.368,1.362,1.352,1.342,NaN
49 Zamora,7.673,7.692,7.579,7.522,7.407,7.328,7.244,7.202,7.130,7.082,...,1.330,1.348,1.358,1.323,1.288,1.244,1.201,1.190,1.179,NaN
50 Zaragoza,25.411,25.145,24.765,24.470,24.013,23.744,23.340,22.914,22.540,22.229,...,3.632,3.613,3.575,3.443,3.339,3.309,3.278,3.248,3.208,NaN
51 Ceuta,904,884,856,842,806,778,750,729,700,659,...,221,225,229,218,207,210,214,212,212,NaN
52 Melilla,792,778,782,786,779,787,778,758,734,722,...,237,227,216,204,192,188,183,185,189,NaN

In [ ]:
df = df.reset_index()

In [ ]:
df

#### Cambiamos el nombre de la columna 'Index' por 'Provincias' y limpiamos todos los espacios en blanco que tenga

In [ ]:
df.rename(columns={'index': 'provincias'}, inplace=True)

In [ ]:
df['provincias'] = df["provincias"].map(str.strip)

In [ ]:
df['provincias'].unique()

### Para extraer el sexo de las personas 

#### Creamos una nueva columna a partir de 'Provincias' en la que se encuentra también el sexo. 

Cambiamos todos los valores a vacío en 'in_sexo' excepto los de género. 
Después rellenamos los huecos con fillna

In [ ]:
# df['in_sexo'] = df['provincias']

In [ ]:
df['in_sexo'] = df['provincias'][df['provincias'].str.contains('Ambos sexos|Hombres|Mujeres')]

In [ ]:
df

In [ ]:
df['in_sexo'].fillna(method='ffill', inplace=True)

In [ ]:
df

#### No nos interesan las provincias ya que tenemos el total de cada grupo de edad bajo el apéndice 'Total Nacional'.

Creamos una lista y seleccionamos solo las provincias para después restarlas.

In [ ]:
prov = df['provincias'].unique().tolist()[3:55]

In [ ]:
prov

In [ ]:
df.drop(0, inplace=True)

In [ ]:
df

#### Seleccionamos todos los valores que no estén en la lista de 'Provincias'

In [ ]:
df = df[-df['provincias'].isin(prov)]

In [ ]:
df

# Hacemos dos dataframes para restarlos después

#### df_total es el dataframe con valores que no tienen la etiqueta 'Total Nacional'. Contiene todos los valores vacíos que usaremos para restar después.
#### dl_clean es una copia del dataframe original hasta este punto para guardarlo por si acaso. Para ello lo copiamos.

In [ ]:
df_total = df[df['provincias'] != 'Total Nacional']

In [ ]:
df_total

In [ ]:
df_clean = df.copy()

In [ ]:
df_clean

En el 'DataFrame Clean' eliminamos los valores 'Total Nacional' de la columna 'Provincias' para bajar una fila el nombre de los grupos de edad y que queden en la misma fila que las cifras

In [ ]:
df_clean['provincias'].replace('Total Nacional', np.nan, inplace=True)

In [ ]:
df_clean['provincias'].fillna(method='ffill', inplace=True)

In [ ]:
df_clean

Ahora restamos el DataFrame con los valores vacíos y el DataFrame que vamos a utilizar. Lo hacemos sumándolos y eliminando los valores duplicados, así nos queda limpio.

In [ ]:
result = pd.concat([df_clean, df_total]).drop_duplicates(keep=False)

In [ ]:
result

In [ ]:
result.set_index(['in_sexo', 'provincias'])

Cambiamos el nombre de la columna 'provincias' por 'edad'

In [ ]:
result = result.rename(columns={'provincias':'edad'})

#### Limpiamos las columnas para quitar todas las columnas que contengan la palabra 'julio'

Para ello creamos una lista con el nombre de todas las columnas y después, con un bucle, iteramos entre los valores de la lista para eliminar de esa misma lista todos los valores que contengan la palabra 'julio'

In [ ]:
col = result.columns.tolist()

In [ ]:
for i in col:
    if 'julio' in i:
        col.remove(i)
    else:
        continue

In [ ]:
col

#### También quitamos todos los valores menores de 1980

In [ ]:
col = col[:41]+col[-1:]

In [ ]:
col = col[:1]+col[2:]

In [ ]:
col

Aplicamos esas columnas seleccionadas a nuestro DataFrame bajo el nombre 'result'

In [ ]:
result = result[col]

In [ ]:
result

Cambiamos el nombre de las columnas para evitar confusiones cuando la mezclemos con la tabla de los suicidios. La llamamos 'Población X' donde 'X' es cada año. Para ello creamos una lista.

In [ ]:
años = list()

In [ ]:
for i in result.columns[1:-1]:
    año = i.split()[4]
    año = 'Poblacion: ' + año
    años.append(año)

In [ ]:
columnas = col[:1]+años+col[-1:]

In [ ]:
columnas

Cambiamos el nombre de las columnas en base a la lista creada antes.

In [ ]:
result.columns = columnas

In [ ]:
result

## En la tabla de "Defunciones por causa", en la que se encuentran las cifras de los suicidios, los valores llegan hasta los '95 años y más'. Además se encuentran agrupados por grupos de 4 años y en este modelo los tenemos divididos por cada año. Habrá que sumarlos.

En primer lugar debemos eliminar la columna '85 años y más'. El INE ofrece la población por cada año ('1 año', '2 años'), pero al final de la lista tenemos la opción de buscar '85 años y más'. En este caso lo vamos a eliminar porque nos quedamos con los grupos de edad por cada año.

In [ ]:
result = result[-result['edad'].str.contains('85 y más años')]

Convertimos a números los datos, el programa los interpretaba hasta ahora (debido al punto entre las cifra) como una cadena de texto. Eliminamos el punto y los convertimos a 'integer'.

In [ ]:
result['Poblacion: 2018'].str.split('.').str.join('')

In [ ]:
result.loc[:, 'Poblacion: 2018' : 'Poblacion: 1980'] = result.loc[:, 'Poblacion: 2018' : 'Poblacion: 1980'].apply(lambda x: x.str.split('.').str.join(''))

In [ ]:
pob = result.loc[:, 'Poblacion: 2018' : 'Poblacion: 1980'].apply(lambda x: pd.to_numeric(x))

In [ ]:
pob

In [ ]:
ind = result[['in_sexo', 'edad']]

In [ ]:
total = pd.merge(pob, ind, left_index=True, right_index=True)

In [ ]:
col = total.columns.tolist()

In [ ]:
col = col[-2:] + col[:-2]

In [ ]:
total = total[col]

In [ ]:
total

Al agruparlos por sexo y sumar todos los resultados nos devuelve una cifra que es el doble de lo esperado. Esto es normal ya que tenemos agrupados tanto los valores divididos por año pero también el total de cada sexo. Por eso devuelve el doble pero no es algo definitivo.

In [ ]:
total.groupby('in_sexo').sum()

#### La tabla con los datos de los suidicios viene por grupos de edad. 

Tenemos que crear nosotros grupos de igual valor para después poder compararlos con los suicidios. Para ello creamos un mapa para decirle al programa qué edad corresponde a cada grupo de edad.

In [ ]:
edades = {
'Total': 'Todas las edades',
'0 años' : 'Menos de 1 año',
'1 año': 'De 1 a 4 años',
'2 años': 'De 1 a 4 años',
'3 años': 'De 1 a 4 años',
'4 años': 'De 1 a 4 años',
'5 años': 'De 5 a 9 años',
'6 años': 'De 5 a 9 años',
'7 años': 'De 5 a 9 años',
'8 años': 'De 5 a 9 años',
'9 años': 'De 5 a 9 años',
'10 años': 'De 10 a 14 años',
'11 años': 'De 10 a 14 años',
'12 años': 'De 10 a 14 años',
'13 años': 'De 10 a 14 años',
'14 años': 'De 10 a 14 años',
'15 años': 'De 15 a 19 años',
'16 años': 'De 15 a 19 años',
'17 años': 'De 15 a 19 años',
'18 años': 'De 15 a 19 años',
'19 años': 'De 15 a 19 años',
'20 años': 'De 20 a 24 años',
'21 años': 'De 20 a 24 años',
'22 años': 'De 20 a 24 años',
'23 años': 'De 20 a 24 años',
'24 años': 'De 20 a 24 años',
'25 años': 'De 25 a 29 años',
'26 años': 'De 25 a 29 años',
'27 años': 'De 25 a 29 años',
'28 años': 'De 25 a 29 años',
'29 años': 'De 25 a 29 años',
'30 años': 'De 30 a 34 años',
'31 años': 'De 30 a 34 años',
'32 años': 'De 30 a 34 años',
'33 años': 'De 30 a 34 años',
'34 años': 'De 30 a 34 años',
'35 años': 'De 35 a 39 años',
'36 años': 'De 35 a 39 años',
'37 años': 'De 35 a 39 años',
'38 años': 'De 35 a 39 años',
'39 años': 'De 35 a 39 años',
'40 años': 'De 40 a 44 años',
'41 años': 'De 40 a 44 años',
'42 años': 'De 40 a 44 años',
'43 años': 'De 40 a 44 años',
'44 años': 'De 40 a 44 años',
'45 años': 'De 45 a 49 años',
'46 años': 'De 45 a 49 años',
'47 años': 'De 45 a 49 años',
'48 años': 'De 45 a 49 años',
'49 años': 'De 45 a 49 años',
'50 años': 'De 50 a 54 años',
'51 años': 'De 50 a 54 años',
'52 años': 'De 50 a 54 años',
'53 años': 'De 50 a 54 años',
'54 años': 'De 50 a 54 años',
'55 años': 'De 55 a 59 años',
'56 años': 'De 55 a 59 años',
'57 años': 'De 55 a 59 años',
'58 años': 'De 55 a 59 años',
'59 años': 'De 55 a 59 años',
'60 años': 'De 60 a 64 años',
'61 años': 'De 60 a 64 años',
'62 años': 'De 60 a 64 años',
'63 años': 'De 60 a 64 años',
'64 años': 'De 60 a 64 años',
'65 años': 'De 65 a 69 años',
'66 años': 'De 65 a 69 años',
'67 años': 'De 65 a 69 años',
'68 años': 'De 65 a 69 años',
'69 años': 'De 65 a 69 años',
'70 años': 'De 70 a 74 años',
'71 años': 'De 70 a 74 años',
'72 años': 'De 70 a 74 años',
'73 años': 'De 70 a 74 años',
'74 años': 'De 70 a 74 años',
'75 años': 'De 75 a 79 años',
'76 años': 'De 75 a 79 años',
'77 años': 'De 75 a 79 años',
'78 años': 'De 75 a 79 años',
'79 años': 'De 75 a 79 años',
'80 años': 'De 80 a 84 años',
'81 años': 'De 80 a 84 años',
'82 años': 'De 80 a 84 años',
'83 años': 'De 80 a 84 años',
'84 años': 'De 80 a 84 años',
'85 años': 'De 85 a 89 años',
'86 años': 'De 85 a 89 años',
'87 años': 'De 85 a 89 años',
'88 años': 'De 85 a 89 años',
'89 años': 'De 85 a 89 años',
'90 años': 'De 90 a 94 años',
'91 años': 'De 90 a 94 años',
'92 años': 'De 90 a 94 años',
'93 años': 'De 90 a 94 años',
'94 años': 'De 90 a 94 años',
'95 años': '95 y más años',
'96 años': '95 y más años',
'97 años': '95 y más años',
'98 años': '95 y más años',
'99 años': '95 y más años',
'100 y más años': '95 y más años'
}

Creamos una nueva columna (grupos de edad) aplicando el mapa en base a la columna 'edad'.

In [ ]:
total['gr_edad'] = total['edad'].map(edades)

Sumamos los valores de población agrupándolos por sexo y por grupos de edad

In [ ]:
casi = total.groupby(['in_sexo', 'gr_edad']).sum()

In [ ]:
casi = casi.reset_index()

In [ ]:
casi['in_sexo'][casi['in_sexo'] == 'Ambos sexos'] = 'Total'

In [ ]:
casi

In [ ]:
casi = casi.set_index(['in_sexo', 'gr_edad'])

### Pivotamos la tabla. Mantenemos como columnas el sexo y los grupos de edad y pivotamos las demás columnas que corresponen a los valores de población por año para tenerlo todo en un formato de columnas. 

#### Dicho formato corresponde al formato de la tabla "Defunciones por causa" en la que tenemos los valores de suicidios por grupos de edad. Comprobamos que tenemos las mismas columnas en ambas tablas. En esta (población por grupos de edad) confirmamos que son 2574, igual que en 'Defunciones por causa de muerte'.

In [ ]:
casi = casi.stack().reset_index()

In [ ]:
casi.columns = ['in_sexo', 'gr_edad', 'año', 'poblacion']

In [ ]:
casi['año'] = casi['año'].apply(lambda x: x.split()[1])

In [ ]:
casi

#### Exportamos la tabla para compararla con las defunciones por causa.

In [ ]:
# casi.to_csv('poblacion_limpia_columnas.csv')